{
  "parser": "babel-eslint",
  "rules": {
    "no-console": 0,
    "no-unused-vars": [2, { "ignoreRestSiblings": true }],
    "react/jsx-closing-bracket-location": [2, "after-props"],
    "react/jsx-tag-spacing": [2, { "beforeSelfClosing": "always" }],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "strict": [2, "never"]
  },
  "extends": [
    "eslint:recommended"
  ],
  "ecmaVersion": 6,
  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
    "experimentalObjectRestSpread": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "globals": {
    "System": true
  },
  "plugins": [
    "import",
    "react",
    "prettier"
  ],
  "settings": {
    "import/ignore": [
      "node_modules",
      "\\.(json|css|scss|jpg|jpeg|png|gif|eot|otf|webp|svg|ttf|woff|woff2|mp4|webm|wav|mp3|m4a|aac|oga)$"
    ],
    "import/resolver": {
      "webpack": {
        "config": "config/webpack.base.js"
      }
    }
  }
}
